.scrollbar-y {
    overflow-y: scroll;
    height: 100%;
}

.scrollbar-x {
    overflow-x: scroll;
    width: 100%;
}

.scrollbar-always-visible {
    overflow: scroll;
}

.scrollable-container-classes {
    overflow: scroll;
    width: 200px;
    height: 250px;
}

.creation-button-submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
